body {
    background: radial-gradient(green, white);




}

.Header {
    width: 100px;
    display: flex;
    padding-bottom: 200px;
}
.titulo{
    padding-left: 600px;
    padding-bottom: 100px;
}

.Feliz {
    border-radius: 40px;
    position: relative;
    
}

h1 {
    display: inline-flex;
    width: 400px;
    transform: translateY(-100px);
    padding-left: (100px);

}

p {
    box-sizing: 10px;
    border: 20px;
    border: solid;
    padding-top: 20px;
}